@charset "utf-8";
/* CSS Document */


/* home */

h1.titulo-h1{
	font-size: 56px;
	line-height:120%;
	color: #4c4c4c;
	text-align:left;
	font-family:'Avenir LT Std 95 Black',Myriad Pro, Arial;
	font-weight:normal
}

h1.titulo-h1 span{
	color: #fd6c62;
}

.imagen-destacada{
	max-width:100%;
}
.subtitulo-h{
	color: #858b92;
	font-size: 16px;
	line-height:120%;
	font-family: 'Avenir LT Std 65 Medium',Myriad Pro, Arial;
}
.formulario-home{}
.formulario-home p{
	color: #858b92;
	font-size: 16px;
	line-height:120%;
	font-family: 'Avenir LT Std 65 Medium',Myriad Pro, Arial;
}

.formulario-home select{
	border-bottom: solid 1px #bfc6ce;
	width:100%;
}
h2.titulo-h2{
	font-size: 32px;
	line-height:120%;
	color: #4c4c4c;
	text-align:center;
	font-family:'Avenir LT Std 65 Medium',Myriad Pro, Arial;
	font-weight:normal
}
.box-funciona{
	background-image:url(../images/linea-3.png);
	background-repeat:no-repeat;
	background-position:center 35%;
}
.como-funciona p{
	  color: #4c4c4c;
	  font-size:14px;
	  line-height:120%;
	  text-align: center;
}
@media all and (max-width: 992px) and (min-width: 768px) {
	.box-funciona .como-funciona{
		padding-left:0 !important;
		padding-right:0 !important;
		margin-left:0 !important;
		margin-right:0 !important;
	}
}
@media all and (max-width: 768px) and (min-width: 320px) {
	.box-funciona{
		background-image:url(../images/linea-vertical.png);
		background-repeat:no-repeat;
		background-position:center center;
	}
	.box-funciona .como-funciona{
	}
	.box-funciona .como-funciona p{
		max-width:220px;
		margin:0 auto 15px auto;
	}
}
h3.titulo-h3{
	font-size: 32px;
	line-height:120%;
	color: #4c4c4c;
	text-align:center;
	font-family:'Avenir LT Std 65 Medium',Myriad Pro, Arial;
	font-weight:normal
}
.city{
	position:relative;
	width:280px;
	height:280px;
	margin:0 auto;
	overflow:hidden;
	border-radius:4px;
	border:none;
}
.imagen-ciudad{
	position:absolute;
	background-position:center center;
	background-size:cover;
	margin:0 auto;
	text-align:center;
}
.info-ciudad{
	position:relative;
	display:table-cell;
	vertical-align:middle;
	width:280px;
	height:280px;
}
.imagen-ciudad img{
}
.ciudad{
	font-size: 24px;
	line-height:130%;
	color: #ffffff;
	text-align:center;
	font-family:'Avenir LT Std 85 Heavy',Myriad Pro, Arial;
	font-weight:normal;
	margin-bottom:0.5rem;
}
.locales{
	font-size: 18px;
	line-height:130%;
	color: #ffffff;
	text-align:center;
	font-family:'Avenir LT Std 85 Heavy',Myriad Pro, Arial;
	font-weight:normal
}

@media all and (max-width: 768px) and (min-width: 576px) {
	.city{
		width:220px;
		height:220px;
	}
	.info-ciudad{
		width:220px;
		height:220px;
	}
}
ul.list{
}
ul.list li{
	font-size: 14px;
	line-height:150%;
	color: #858b92;
	font-family:'Avenir LT Std 65 Medium',Myriad Pro, Arial;
	margin-bottom:1.5rem;
}
ul.list li p{
	font-size: 14px;
	line-height:150%;
	color: #858b92;
	font-family:'Avenir LT Std 65 Medium',Myriad Pro, Arial;
	margin:0;
}
	
ul.list li span{
	font-size: 16px;
	line-height:120%;
	color: #4c4c4c;
	font-family:'Avenir LT Std 65 Black',Myriad Pro, Arial;
	font-weight:500;
	margin-bottom:0.7rem;
	display:block;
}
ul.list li {
	color:#3baae4;
	font-size:28px;
	line-height:19px;
}
ul.list li:first-child {
	color:#fb85ff;
}
ul.list li:last-child {
	color:#ff875c;
}
.seguridad-silla img{ max-width:100%;}

.enlace-propietario{
	border:none;
	border-radius: 4px;
	font-size: 14px;
	line-height:140%;
	color:#ffffff;
	font-family:'Avenir LT Std 65 Medium',Myriad Pro, Arial;
	  background-image: -moz-linear-gradient(#fd8762, #fd6062);
	  background-image: -webkit-linear-gradient(#fd8762, #fd6062);
	  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#fd8762), to(#fd6062));
	  background-image: -o-linear-gradient(#fd8762, #fd6062);
	  background-image: linear-gradient(#fd8762, #fd6062);
}
/* home */

