@charset "utf-8";
/* CSS Document */


/* reserva contrato scroll */

.scrollbar
{
	float: left;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
	font-family: 'Avenir LT Std 65 Medium',Myriad Pro, Arial;
	font-size: 14px;
	line-height:120%;
	background-color: #ffffff;
    width: 100%;
	color: #858b92;
    height: 330px;
	text-align:left;
	font-family: 'Avenir LT Std 65 Medium',Myriad Pro, Arial;
	font-size: 14px;
	line-height:155%;
	
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #858b92;
}

/* Fin reserva contrato scroll */


/* Proceso subida anuncio 1 */

.boton-gris{
	background-color: #858b92 !important;
  background-color: var(--steel);
  color:#FFF;
}

/* Fin Proceso subida anuncio 1 */

/* Proceso subida anuncio 2 */

.seleccion-clinica {
	text-align:center;
}

.seleccion-clinica p{
	color:#4c4c4c;
	font-weight:600;
	text-align:center;
	padding-top:2em;
}

/* Fin Proceso subida anuncio 2 */


/* Proceso subida anuncio 3*/

.form-corto input, .form-corto select{
	background-color: #ffffff;
	border: solid 1px #bfc6ce;
	font-family: 'Avenir LT Std 45 Book', Myriad Pro, Arial;
	color:#868C99;
	font-size:14px;
	margin-bottom:18px;
	width:100%;
	height:50px;
	border-radius:2px;
}

.texto-caja-fuera {
	padding-bottom:2em;
}

.work {
  font-family: Avenir LT Std 45 Book;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  color: var(--greyish-brown);
}

/* Fin Proceso subida anuncio 3 */

/* Proceso subida anuncio 4*/

.progreso p{
	font-family: 'Avenir LT Std 45 Book',Myriad Pro, Arial;
	font-size: 14px;
  	font-weight: normal;
	text-align: center;
	color: #858b92;
	line-height: 1.57;
}


.progress-nueva {
    height: 0.5em !important;
    border-radius: 0.55em ;
	background-color: #bfc6ce !important;
}


.borde-caja {
	border: solid 1px #d0d8e1;
	
	padding-top:10px;
	
	
}
.ancho-columna {
	height:97px;
	width:360px !important;
	margin-right:0em;
}

.borde-caja p{
	font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #4c4c4c;
  margin-bottom:0 !important;
}

.borde-caja span{
	font-size: 12px;
	color: #858b92;
}
.alineacion-centro{
	text-align: center;
	margin-top: 15px;
	
}

.alineacion-izquierda{
	text-align: left;
	margin-left:-5px;
	margin-right:5px;
	margin-top:5px;
}

.Rellenado {
  font-size: 12px !important;
  font-weight: 900;
  line-height: 1.83;
  text-align: center !important;
  color: #858b92;
  color: var(--steel);
}

.boton-vista {
	width:212px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #bfc6ce;
}

.boton-vista:hover{
	 color:#000;
	 text-decoration:none;
 }

/* Fin Proceso subida anuncio 4 */

/* Proceso subida anuncio 7*/

.rellenar {
	padding-right: 12px !important;
	margin-top:1.5em;
}

/* Fin subida anuncio 7*/

/* Proceso subida anuncio 6*/

.texto-inicial{
	font-family: Avenir LT Std 45 Book;;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #4c4c4c;
}

.borderojo {
    outline: none;
    border: 1px solid #f00;
}
.bordegris { border: 1px solid #d4d4d; }

.alineacion-derecha{
	text-align: right;
}

.unidos {
	margin-bottom:0 !important;
}

.contador {
	font-size: 14px;
  font-weight: 500;
  color: #4c4c4c;
}

.boton-guardar {
	width:256px;
	height:55px;
}

/* Fin subida anuncio 6*/