@charset "UTF-8";
/* CSS Document */

// paleta de colores usados

.color-silver{ color:#bfc6ce;}
.color-dark-sky-blue{ color:#3baae4;}
.color-melon{ color:#ff875c;}
.color-steel{ color:#858b92;}
.color-cloudy-blue{ color:#d0d8e1;}
.color-greyish-brown{ color:#4c4c4c;}

.fill-color-silver{ background-color:#bfc6ce;}
.fill-color-dark-sky-blue{ background-color:#3baae4;}
.fill-color-melon{ background-color:#ff875c;}
.fill-color-steel{ background-color:#858b92;}
.fill-color-cloudy-blue{ background-color:#d0d8e1;}
.fill-color-greyish-brown{ background-color:#4c4c4c;}