@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Avenir LT Std 45 Book',Myriad Pro, Arial;
}

/* paleta de colores usados */

.color-silver{ color:#bfc6ce;}
.color-dark-sky-blue{ color:#3baae4;}
.color-melon{ color:#ff875c;}
.color-steel{ color:#858b92;}
.color-cloudy-blue{ color:#d0d8e1;}
.color-greyish-brown{ color:#4c4c4c;}

.fill-color-silver{ background-color:#bfc6ce;}
.fill-color-dark-sky-blue{ background-color:#3baae4;}
.fill-color-melon{ background-color:#ff875c;}
.fill-color-steel{ background-color:#858b92;}
.fill-color-cloudy-blue{ background-color:#d0d8e1;}
.fill-color-greyish-brown{ background-color:#4c4c4c;}


/* botones */

.button-3{border-radius: 4px; border:none !important; width:179px; height:55px;}
.button-2{border-radius: 4px; border:none !important; width:179px; height:48px;}
.button-1{border-radius: 4px; border:none !important; width:179px; height:44px;}


/* página login */

.top-header{
	box-shadow: 0 1px 0 0 #d0d8e1;
	height:48px;
}
.icon-back{
	box-shadow: 1px 0 0 0 #d0d8e1;
	padding:4px;
}
.bienvenida span{
	font-family: 'Avenir LT Std 85 Heavy',Myriad Pro, Arial;
	font-size: 32px;
	line-height:120%;
	text-align: center;
  	color: #4c4c4c;
	display:block;
}

.bienvenida p{
	font-family: 'Avenir LT Std 45 Book',Myriad Pro, Arial;
	font-size: 14px;
	line-height: 1.5714285714285714;
	text-align: center;
	color: #858b92;
}

.formulario{}
.formulario span{
	display:block;
	text-align:center;
	color:#858B92;
	font-size:14px;
}
.formulario span a{
	text-decoration:underline;
	color: #858b92;
}
.formulario a.registro{
	font-weight:bold;
}
.formulario a:hover{
color: #3baae4;
}

.formulario input, .formulario select{
	background-color: #ffffff;
	border: solid 1px #bfc6ce;
	font-family: 'Avenir LT Std 45 Book', Myriad Pro, Arial;
	color:#868C99;
	font-size:14px;
	margin-bottom:18px;
	width:100%;
	height:50px;
	border-radius:2px;
}
input[type="text"], input[type="email"], input[type="password"]{
	padding:15px 15px 15px 55px;
}

input[type="email"]{
	background-image:url(../images/message-gray.png);
	background-repeat:no-repeat;
	background-position:center left;
}
input[type="password"]{
	background-image:url(../images/lock-gray.png);
	background-repeat:no-repeat;
	background-position:center left;
}
input[type="submit"]{
	width: 100%;
  	height: 55px;
  	border-radius: 4px;
  	background-color: #3baae4;
	color: #ffffff;
	font-size: 18px;
	border:none;
	cursor:pointer;
}
/* fin página login */

/* página registro paso 1 y 2 */

.bienvenidaPaso1 span{
	font-family: 'Avenir LT Std 85 Heavy',Myriad Pro, Arial;
	font-size: 32px;
	line-height:120%;
  	color: #4c4c4c;
	display:block;
}

.bienvenidaPaso1 p{
	font-family: 'Avenir LT Std 45 Book',Myriad Pro, Arial;
	font-size: 14px;
	line-height: 1.5714285714285714;
	color: #858b92;
}

.pasos-registro{}
.pasos-registro label{
	font-size: 14px;
  	line-height: 1.5714285714285714;
  	text-align: left;
  	color: #4c4c4c;
}

.pasos-registro input, .pasos-registro select{
	padding:15px;
}
.pasos-registro select:after{
	position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.infoPasos{}
.infoPasos img{ max-width:100%;}
.infoPasos span{
  font-family: 'Avenir LT Std 65 Medium',Myriad Pro, Arial;
  font-size: 18px;
  color: #4c4c4c;
  display:block;
 }
.infoPasos p{
	color: #858b92;
	font-size: 14px;
	font-family: 'Avenir LT Std 45 Book',Myriad Pro, Arial;
}

.custom-file.foto{
	height:50px;
}
.custom-file-label.foto{
	text-align:right;
	color: #3baae4;
	font-size: 14px;
	height:50px;
	padding:12px;
	font-family: 'Avenir LT Std 85 Heavy',Myriad Pro, Arial;
}
.custom-file-label.foto:after{
	display:none;
}

.colegiado{
	padding-left:55px;
}

.pasos-registro input[type="email"], .pasos-registro input[type="password"]{
	background-image:none;
}

.dropdown-divider{
	border: solid 1px #d0d8e1;
}


/* fin página registro paso 1 y 2 */


/* páginas reservas */

/* reserva realizadas*/
.reserva-realizada span{
	font-family: 'Avenir LT Std 65 Medium',Myriad Pro, Arial;
	font-size: 32px;
	line-height:120%;
	text-align: center;
  	color: #4c4c4c;
	display:block;
}

.reserva-realizada p{
	font-family: 'Avenir LT Std 45 Book',Myriad Pro, Arial;
	font-size: 18px;
	line-height: 1.5714285714285714;
	text-align: center;
	color: #858b92;
}
.enlace-boton{
	border-radius: 4px;
	background-color: #3baae4;
	text-align:center;
	color:#ffffff;
 }
/* reserva realizadas*/

/* resumen reservas */
.enlace-boton-resumen{
	background-color: #ffffff;
	border: solid 1px #d3d6db;
	width:100%;
	text-align:center;
	color: #858b92;
	font-size:16px;
}
.enlace-boton-resumen:hover{
	color: #3baae4;
}
.reserva-realizada span.subtitulo{
	font-family: 'Avenir LT Std 65 Medium',Myriad Pro, Arial;
	font-size: 18px;
	line-height:120%;
	text-align: left;
  	color: #4c4c4c;
}

.caja{
	background-color: #ffffff;	
	border: solid 1px #d3d6db;
}
.titulo-modalidad{
	font-family: 'Avenir LT Std 85 Heavy',Myriad Pro, Arial;
	font-size: 18px;
	line-height:120%;
	text-align: left;
  	color: #4c4c4c;
}
.cambiar-modalidad{
	font-family: 'Avenir LT Std 85 Heavy',Myriad Pro, Arial;
	font-size: 14px;
	line-height:120%;
	text-align: left;
  	color: #3baae4;
	text-transform:uppercase;
}
.texto-modalidad{
	font-size: 14px;
	line-height:120%;
	text-align: left;
  	color: #858b92;
}
.precio-modalidad{
	font-family: 'Avenir LT Std 85 Heavy',Myriad Pro, Arial;
	font-size: 16px;
	line-height:120%;
  	color: #858b92;
}
.subtitulo-modalidad{
	font-size: 16px;
	line-height:120%;
	text-align: left;
  	color: #858b92;
}
.subprecio-modalidad{
	font-family: 'Avenir LT Std 45 Book',Myriad Pro, Arial;
	font-size: 16px;
	line-height:120%;
  	color: #858b92;
}
.precio-modalidad-total{
	font-family: 'Avenir LT Std 85 Heavy',Myriad Pro, Arial;
	font-size: 32px;
	line-height:120%;
  	color: #4c4c4c;
}
.titulo-modalidad.total{
	line-height:140%;
}
.reserva-realizada p.texto-aviso{
	font-size: 12px;
	text-align: center;
	color: #858b92;
}
/* fin resumen reservas */

/* fin paginas reservas */